@model dynamic

@{
    ViewBag.Title = "Home";
}
<div class="container">
<div class="row">

<div class="timeline-centered">

<article class="timeline-entry">

    <div class="timeline-entry-inner">

        <div class="timeline-icon bg-success">
            <i class="entypo-feather"></i>
        </div>

        <div class="timeline-label">
            <h2>
                <a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
        </div>
    </div>

</article>


<article class="timeline-entry">

    <div class="timeline-entry-inner">

        <div class="timeline-icon bg-secondary">
            <i class="entypo-suitcase"></i>
        </div>

        <div class="timeline-label">
            <h2>
                <a href="#">Job Meeting</a>
            </h2>
            <p>
                You have a meeting at <strong>Laborator Office</strong> Today.
            </p>
        </div>
    </div>

</article>


<article class="timeline-entry">

    <div class="timeline-entry-inner">

        <div class="timeline-icon bg-info">
            <i class="entypo-location"></i>
        </div>

        <div class="timeline-label">
            <h2>
                <a href="#">Arlind Nushi</a> <span>checked in at</span> <a href="#">Laborator</a>
            </h2>

            <blockquote>Great place, feeling like in home.</blockquote>

            <div id="sample-checkin" class="map-checkin" style="-webkit-transform: translateZ(0); background-color: rgb(229, 227, 223); height: 170px; overflow: hidden; position: relative; width: 100%;">
                <div class="gm-style" style="height: 100%; left: 0px; overflow: hidden; position: absolute; top: 0px; width: 100%; z-index: 0;">
                    <div style="height: 100%; left: 0px; overflow: hidden; position: absolute; top: 0px; width: 100%; z-index: 0;">
                        <div style="-webkit-transform: matrix(1, 0, 0, 1, 0, 0); -webkit-transform-origin: 0px 0px; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1;">
                            <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 200;">
                                <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 101;"></div>
                            </div>
                            <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 201;">
                                <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 102;"></div>
                                <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 103;">
                                    <div style="left: 0px; position: absolute; top: 0px; z-index: -1;">
                                        <div style="left: 0px; position: absolute; top: 0px; z-index: 1;">
                                            <div style="-webkit-transform: translateZ(0); height: 256px; left: 72px; overflow: hidden; position: absolute; top: -176px; width: 256px;">
                                                <canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; height: 256px; left: 0px; position: absolute; top: 0px; width: 256px;"></canvas>
                                            </div>
                                            <div style="-webkit-transform: translateZ(0); height: 256px; left: 72px; overflow: hidden; position: absolute; top: 80px; width: 256px;"></div>
                                            <div style="-webkit-transform: translateZ(0); height: 256px; left: -184px; overflow: hidden; position: absolute; top: -176px; width: 256px;"></div>
                                            <div style="-webkit-transform: translateZ(0); height: 256px; left: -184px; overflow: hidden; position: absolute; top: 80px; width: 256px;"></div>
                                            <div style="-webkit-transform: translateZ(0); height: 256px; left: 328px; overflow: hidden; position: absolute; top: -176px; width: 256px;"></div>
                                            <div style="-webkit-transform: translateZ(0); height: 256px; left: 328px; overflow: hidden; position: absolute; top: 80px; width: 256px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 202;">
                                <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 104;"></div>
                                <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 105;"></div>
                                <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 106;"></div>
                            </div>
                            <div style="-webkit-transform: translateZ(0); left: 0px; position: absolute; top: 0px; width: 100%; z-index: 100;">
                                <div style="left: 0px; position: absolute; top: 0px; z-index: 0;">
                                    <div style="left: 0px; position: absolute; top: 0px; z-index: 1;">
                                        <div style="-webkit-transform: translateZ(0); height: 256px; left: 72px; position: absolute; top: -176px; width: 256px;"></div>
                                        <div style="-webkit-transform: translateZ(0); height: 256px; left: 72px; position: absolute; top: 80px; width: 256px;"></div>
                                        <div style="-webkit-transform: translateZ(0); height: 256px; left: -184px; position: absolute; top: -176px; width: 256px;"></div>
                                        <div style="-webkit-transform: translateZ(0); height: 256px; left: -184px; position: absolute; top: 80px; width: 256px;"></div>
                                        <div style="-webkit-transform: translateZ(0); height: 256px; left: 328px; position: absolute; top: -176px; width: 256px;"></div>
                                        <div style="-webkit-transform: translateZ(0); height: 256px; left: 328px; position: absolute; top: 80px; width: 256px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="left: 0px; position: absolute; top: 0px; z-index: 0;">
                                <div style="height: 170px; overflow: hidden; width: 431px;">
                                    <img src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&1i701363&2i1636267&2e1&3u14&4m2&1u431&2u170&5m4&1e0&5spt-BR&6sus&10b1&token=8503" style="height: 160px; width: 421px;">
                                </div>
                            </div>
                            <div style="left: 0px; position: absolute; top: 0px; z-index: 0;">
                                <div style="left: 0px; position: absolute; top: 0px; z-index: 1;">
                                    <div style="-webkit-transform: translateZ(0); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 72px; opacity: 1; position: absolute; top: -176px; transition: opacity 200ms ease-out; width: 256px;">
                                        <img src="http://mt0.googleapis.com/vt?lyrs=m@248313357&src=apiv3&hl=pt-BR&x=2740&y=6391&z=14&style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;">
                                    </div>
                                    <div style="-webkit-transform: translateZ(0); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 72px; opacity: 1; position: absolute; top: 80px; transition: opacity 200ms ease-out; width: 256px;">
                                        <img src="http://mt0.googleapis.com/vt?lyrs=m@248254527&src=apiv3&hl=pt-BR&x=2740&y=6392&z=14&style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;">
                                    </div>
                                    <div style="-webkit-transform: translateZ(0); -webkit-transition: opacity 200ms ease-out; height: 256px; left: -184px; opacity: 1; position: absolute; top: -176px; transition: opacity 200ms ease-out; width: 256px;">
                                        <img src="http://mt1.googleapis.com/vt?lyrs=m@248282439&src=apiv3&hl=pt-BR&x=2739&y=6391&z=14&style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;">
                                    </div>
                                    <div style="-webkit-transform: translateZ(0); -webkit-transition: opacity 200ms ease-out; height: 256px; left: -184px; opacity: 1; position: absolute; top: 80px; transition: opacity 200ms ease-out; width: 256px;">
                                        <img src="http://mt1.googleapis.com/vt?lyrs=m@248011677&src=apiv3&hl=pt-BR&x=2739&y=6392&z=14&style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;">
                                    </div>
                                    <div style="-webkit-transform: translateZ(0); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 328px; opacity: 1; position: absolute; top: -176px; transition: opacity 200ms ease-out; width: 256px;">
                                        <img src="http://mt1.googleapis.com/vt?lyrs=m@248301220&src=apiv3&hl=pt-BR&x=2741&y=6391&z=14&style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;">
                                    </div>
                                    <div style="-webkit-transform: translateZ(0); -webkit-transition: opacity 200ms ease-out; height: 256px; left: 328px; opacity: 1; position: absolute; top: 80px; transition: opacity 200ms ease-out; width: 256px;">
                                        <img src="http://mt1.googleapis.com/vt?lyrs=m@248301220&src=apiv3&hl=pt-BR&x=2741&y=6392&z=14&style=47,37%7Csmartmaps" draggable="false" style="-webkit-transform: translateZ(0); -webkit-user-select: none; border: 0px; height: 256px; margin: 0px; padding: 0px; width: 256px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="bottom: 0px; left: 0px; margin-left: 5px; margin-right: 5px; position: absolute; z-index: 1000000;">
                        <a target="_blank" href="http://maps.google.com/maps?ll=36.738888,-119.783013&z=14&t=m&hl=pt-BR&gl=US&mapclient=apiv3" title="Clique para ver esta área no Google Maps" style="display: inline; float: none; overflow: visible; position: static;">
                            <div style="cursor: pointer; height: 26px; width: 62px;">
                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 26px; left: 0px; margin: 0px; padding: 0px; position: absolute; top: 0px; width: 62px;">
                            </div>
                        </a>
                    </div>
                    <div class="gmnoprint" style="bottom: 0px; position: absolute; right: 192px; width: 85px; z-index: 1000001;">
                        <div draggable="false" class="gm-style-cc" style="-webkit-user-select: none;">
                            <div style="height: 100%; opacity: 0.7; position: absolute; width: 100%;">
                                <div style="width: 1px;"></div>
                                <div style="background-color: rgb(245, 245, 245); height: 100%; margin-left: 1px; width: auto;"></div>
                            </div>
                            <div style="color: rgb(68, 68, 68); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 10px; padding-left: 6px; padding-right: 6px; position: relative; text-align: right; white-space: nowrap;">
                                <a style="color: rgb(68, 68, 68); cursor: pointer; text-decoration: none;">Dados do mapa</a><span style="display: none;">Dados cartográficos ©2014 Google</span></div>
                        </div>
                    </div>
                    <div style="-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; background-color: white; border: 1px solid rgb(171, 171, 171); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; color: rgb(34, 34, 34); display: none; font-family: Roboto, Arial, sans-serif; height: 118px; left: 61px; padding: 15px 21px; position: absolute; top: 5px; width: 256px; z-index: 10000002;">
                        <div style="font-size: 16px; padding: 0px 0px 10px;">Dados do mapa</div>
                        <div style="font-size: 13px;">Dados cartográficos ©2014 Google</div>
                        <div style="cursor: pointer; height: 13px; opacity: 0.7; overflow: hidden; position: absolute; right: 12px; top: 12px; width: 13px; z-index: 10000;">
                            <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 492px; left: -2px; margin: 0px; padding: 0px; position: absolute; top: -336px; width: 59px;">
                        </div>
                    </div>
                    <div class="gmnoscreen" style="bottom: 0px; position: absolute; right: 0px;">
                        <div style="background-color: rgb(245, 245, 245); color: rgb(68, 68, 68); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; text-align: right;">Dados cartográficos ©2014 Google</div>
                    </div>
                    <div class="gmnoprint gm-style-cc" draggable="false" style="-webkit-user-select: none; bottom: 0px; position: absolute; right: 113px; z-index: 1000001;">
                        <div style="height: 100%; opacity: 0.7; position: absolute; width: 100%;">
                            <div style="width: 1px;"></div>
                            <div style="background-color: rgb(245, 245, 245); height: 100%; margin-left: 1px; width: auto;"></div>
                        </div>
                        <div style="color: rgb(68, 68, 68); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 10px; padding-left: 6px; padding-right: 6px; position: relative; text-align: right; white-space: nowrap;">
                            <a href="http://www.google.com/intl/pt-BR_US/help/terms_maps.html" target="_blank" style="color: rgb(68, 68, 68); cursor: pointer; text-decoration: none;">Termos de Uso</a>
                        </div>
                    </div>
                    <div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; bottom: 0px; position: absolute; right: 0px;">
                        <div style="height: 100%; opacity: 0.7; position: absolute; width: 100%;">
                            <div style="width: 1px;"></div>
                            <div style="background-color: rgb(245, 245, 245); height: 100%; margin-left: 1px; width: auto;"></div>
                        </div>
                        <div style="color: rgb(68, 68, 68); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 10px; padding-left: 6px; padding-right: 6px; position: relative; text-align: right; white-space: nowrap;">
                            <a target="_new" title="Informar erros no mapa ou nas imagens para o Google" href="http://maps.google.com/maps?ll=36.738888,-119.783013&z=14&t=m&hl=pt-BR&gl=US&mapclient=apiv3&skstate=action:mps_dialog$apiref:1&output=classic" style="color: rgb(68, 68, 68); font-family: Roboto, Arial, sans-serif; font-size: 10px; position: relative; text-decoration: none;">Informar erro no mapa</a>
                        </div>
                    </div>
                    <div class="gmnoprint" draggable="false" controlwidth="32" controlheight="84" style="-webkit-user-select: none; left: 0px; margin: 5px; position: absolute; top: 0px;">
                        <div controlwidth="32" controlheight="40" style="cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; left: 0px; position: absolute; top: 0px;">
                            <div style="height: 40px; left: 0px; overflow: hidden; position: absolute; top: 0px; width: 32px;">
                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 214px; left: -9px; margin: 0px; padding: 0px; position: absolute; top: -102px; width: 1028px;">
                            </div>
                            <div style="height: 40px; left: 0px; overflow: hidden; position: absolute; top: 0px; visibility: hidden; width: 32px;">
                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 214px; left: -107px; margin: 0px; padding: 0px; position: absolute; top: -102px; width: 1028px;">
                            </div>
                            <div style="height: 40px; left: 0px; overflow: hidden; position: absolute; top: 0px; visibility: hidden; width: 32px;">
                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 214px; left: -58px; margin: 0px; padding: 0px; position: absolute; top: -102px; width: 1028px;">
                            </div>
                            <div style="height: 40px; left: 0px; overflow: hidden; position: absolute; top: 0px; visibility: hidden; width: 32px;">
                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 214px; left: -205px; margin: 0px; padding: 0px; position: absolute; top: -102px; width: 1028px;">
                            </div>
                        </div>
                        <div class="gmnoprint" controlwidth="0" controlheight="0" style="display: none; opacity: 0.6; position: absolute;">
                            <div title="Girar o mapa em 90 graus" style="cursor: pointer; height: 22px; overflow: hidden; position: absolute; width: 22px;">
                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 492px; left: -38px; margin: 0px; padding: 0px; position: absolute; top: -360px; width: 59px;">
                            </div>
                        </div>
                        <div class="gmnoprint" controlwidth="20" controlheight="39" style="left: 6px; position: absolute; top: 45px;">
                            <div style="height: 39px; overflow: hidden; position: absolute; width: 20px;">
                                <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 492px; left: -39px; margin: 0px; padding: 0px; position: absolute; top: -401px; width: 59px;">
                            </div>
                            <div title="Aumentar o zoom" style="cursor: pointer; height: 17px; left: 0px; position: absolute; top: 2px; width: 20px;"></div>
                            <div title="Diminuir o zoom" style="cursor: pointer; height: 17px; left: 0px; position: absolute; top: 19px; width: 20px;"></div>
                        </div>
                    </div>
                    <div class="gmnoprint" style="cursor: pointer; margin: 5px; position: absolute; right: 0px; top: 0px; z-index: 0;">
                        <div class="gm-style-mtc" style="float: left;">
                            <div draggable="false" title="Mostrar mapa de ruas" style="-webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; -webkit-user-select: none; background-clip: padding-box; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.14902); border-bottom-left-radius: 2px; border-top-left-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; color: rgb(0, 0, 0); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; font-weight: 500; min-width: 28px; overflow: hidden; padding: 1px 6px; position: relative; text-align: center;">Mapa</div>
                            <div style="-webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; background-clip: padding-box; background-color: white; border-bottom-color: rgba(0, 0, 0, 0.14902); border-bottom-style: solid; border-left-color: rgba(0, 0, 0, 0.14902); border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-right-style: solid; border-width: 0px 1px 1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; display: none; left: 0px; padding-top: 2px; position: absolute; text-align: left; top: 19px; z-index: -1;">
                                <div draggable="false" title="Mostrar mapa de ruas com terreno" style="-webkit-user-select: none; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; padding: 3px 8px 3px 5px; text-align: left; white-space: nowrap;">
                                    <span role="checkbox" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-bottom-left-radius: 1px; border-bottom-right-radius: 1px; border-top-left-radius: 1px; border-top-right-radius: 1px; box-sizing: border-box; display: inline-block; font-size: 0px; height: 13px; line-height: 0; margin: 0px 5px 0px 0px; position: relative; vertical-align: middle; width: 13px;"><div style="display: none; height: 11px; left: 1px; overflow: hidden; position: absolute; top: -2px; width: 13px;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 67px; left: -52px; margin: 0px; padding: 0px; position: absolute; top: -44px; width: 68px;"></div></span><label style="cursor: pointer; vertical-align: middle;">Terreno</label>
                                </div>
                            </div>
                        </div>
                        <div class="gm-style-mtc" style="float: left;">
                            <div draggable="false" title="Mostrar imagens de satélite" style="-webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; -webkit-user-select: none; background-clip: padding-box; background-color: rgb(255, 255, 255); border-bottom-color: rgba(0, 0, 0, 0.14902); border-bottom-right-radius: 2px; border-bottom-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-right-style: solid; border-top-color: rgba(0, 0, 0, 0.14902); border-top-right-radius: 2px; border-top-style: solid; border-width: 1px 1px 1px 0px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; color: rgb(86, 86, 86); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; min-width: 36px; overflow: hidden; padding: 1px 6px; position: relative; text-align: center;">Satélite</div>
                            <div style="-webkit-background-clip: padding-box; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; background-clip: padding-box; background-color: white; border-bottom-color: rgba(0, 0, 0, 0.14902); border-bottom-style: solid; border-left-color: rgba(0, 0, 0, 0.14902); border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-right-style: solid; border-width: 0px 1px 1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; display: none; padding-top: 2px; position: absolute; right: 0px; text-align: left; top: 19px; z-index: -1;">
                                <div draggable="false" title="Aumentar o zoom para a visualização de 45 graus" style="-webkit-user-select: none; background-color: rgb(255, 255, 255); color: rgb(184, 184, 184); direction: ltr; display: none; font-family: Roboto, Arial, sans-serif; font-size: 11px; padding: 3px 8px 3px 5px; text-align: left; white-space: nowrap;">
                                    <span role="checkbox" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(241, 241, 241); border-bottom-left-radius: 1px; border-bottom-right-radius: 1px; border-top-left-radius: 1px; border-top-right-radius: 1px; box-sizing: border-box; display: inline-block; font-size: 0px; height: 13px; line-height: 0; margin: 0px 5px 0px 0px; position: relative; vertical-align: middle; width: 13px;"><div style="display: none; height: 11px; left: 1px; overflow: hidden; position: absolute; top: -2px; width: 13px;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 67px; left: -52px; margin: 0px; padding: 0px; position: absolute; top: -44px; width: 68px;"></div></span><label style="cursor: pointer; vertical-align: middle;">45°</label>
                                </div>
                                <div draggable="false" title="Mostrar imagens com nomes de rua" style="-webkit-user-select: none; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); direction: ltr; font-family: Roboto, Arial, sans-serif; font-size: 11px; padding: 3px 8px 3px 5px; text-align: left; white-space: nowrap;">
                                    <span role="checkbox" style="background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-bottom-left-radius: 1px; border-bottom-right-radius: 1px; border-top-left-radius: 1px; border-top-right-radius: 1px; box-sizing: border-box; display: inline-block; font-size: 0px; height: 13px; line-height: 0; margin: 0px 5px 0px 0px; position: relative; vertical-align: middle; width: 13px;"><div style="height: 11px; left: 1px; overflow: hidden; position: absolute; top: -2px; width: 13px;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="-webkit-user-select: none; border: 0px; height: 67px; left: -52px; margin: 0px; padding: 0px; position: absolute; top: -44px; width: 68px;"></div></span><label style="cursor: pointer; vertical-align: middle;">Marcadores</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>


<article class="timeline-entry">

    <div class="timeline-entry-inner">

        <div class="timeline-icon bg-warning">
            <i class="entypo-camera"></i>
        </div>

        <div class="timeline-label">
            <h2>
                <a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a>
            </h2>

            <blockquote>Pianoforte principles our unaffected not for astonished travelling are particular.</blockquote>

            <img src="http://themes.laborator.co/neon/assets/images/timeline-image-3.png" class="img-responsive img-rounded full-width">
        </div>
    </div>

</article>


<article class="timeline-entry begin">

    <div class="timeline-entry-inner">

        <div class="timeline-icon" style="-moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg);">
            <i class="entypo-flight"></i> +
        </div>

    </div>

</article>

</div>


</div>
</div>