@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row" ng-app="AccountModule">
    <div class="col-lg-10 col-md-offset-1" ng-controller="AccountHomeController">
        <header class="page-header">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="person person-large pull-left">
                        <img src="https://randomuser.me/api/portraits/med/men/84.jpg" alt="Circle Image" class="person-graphic">
                    </a>
                    <h1 class="headline">Welcome, Gamunu</h1>
                    <p class="subtitle">Here's where you manage your account</p>
                    <p class="user-email">gamunuud@outlook.com</p>
                    <p class="view-inbox">
                        Looking for your Messages? <a href="#">View inbox</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 pull-right">
                    <div class="dropdown">

                        <button class="btn btn-default btn-simple dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            <i class="fa fa-cogs fa-3x"></i>
                            <span class="caret"></span>

                        </button>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add Activity</a></li>

                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log your weight</a></li>

                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>

                            <li role="presentation" class="divider"></li>

                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Help</a></li>

                        </ul>

                    </div>
                </div>
            </div>
        </header>

        <div class="row">
            <section class="col-md-4 section">
                <header class="section-header">
                    <h2 class="section-title text-maxlines-1">
                        <a href="#">Active Time</a>
                    </h2>
                </header>
                <div class="row">
                    <div class="col-lg-12">
                        <div active-time></div>
                    </div>
                </div>
            </section>
            <section class="col-md-4 section">
                <header class="section-header">
                    <h2 class="section-title text-maxlines-1">
                        <a href="#">Calories burned</a>
                    </h2>
                </header>
                <div class="row">
                    <div class="col-lg-12">
                        <div calories-burned></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="image-list">
                            <div><i class="walking"></i>80 cal
                            </div>
                            <div><i class="running"></i>100 cal
                            </div>
                            <div><i class="cycling"></i>147 cal
                            </div>
                            <div><i class="inactive"></i>1126 Inactive cal
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-md-4 section">
                <header class="section-header">
                    <h2 class="section-title text-maxlines-1">
                        <a href="#">Steps</a>
                    </h2>
                </header>
                <div class="row">
                    <div class="col-lg-12">
                        <div steps></div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row">
            <section class="col-md-6 section">
                <header class="section-header">
                    <h2 class="section-title text-maxlines-1">
                        <a href="#">Your info</a>
                    </h2>
                </header>
                <ul>
                    <li><a href="#">Edit your personal info</a></li>
                    <li><a href="#">Manage your sign-in email address</a></li>
                    <li><a href="#">Change marketing preferences</a></li>
                    <li><a href="#">Get account help</a></li>
                </ul>
            </section>
            <section class="col-md-6 section">
                <header class="section-header">
                    <h2 class="section-title text-maxlines-1">
                        <a href="#">Security & privacy</a>
                    </h2>
                </header>
                <ul>
                    <li><a href="#">Change password</a></li>
                    <li><a href="#">Check recent activity</a></li>
                    <li><a href="#">Manage advanced security</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>