.wrap {
    min-height: 100%;
}

/*           Navigation Bar             */

.navbar-brand-logo .logo {
    float: left;
}

.navbar .navbar-brand-logo .brand {
    color: #333;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
}

@media (min-width: 768px) {
    .navbar-form {
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-search-form {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: rgba(0, 0, 0, 0);
        border-color: #428BCA;
    }

    .navbar-collapse {
        text-align: center;
    }

        .navbar-collapse .navbar-form {
            margin: 0 auto;
            width: 170px;
        }
}


/* Timeline */

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    padding: 2px;
    transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    margin-bottom: 30px;
    position: relative;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        background: #f5f5f6;
        bottom: 20px;
        content: '';
        display: block;
        margin-left: 30px;
        position: absolute;
        /*left: 50%;*/
        top: 20px;
        width: 4px;
    }

    .timeline-centered .timeline-entry {
        clear: both;
        margin-bottom: 10px;
        margin-left: 30px;
        /*width: 50%;
        float: right;*/
        margin-top: 5px;
        position: relative;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        left: auto;
                        margin-left: 0;
                        margin-right: -9px;
                        right: 0;
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            margin-left: -20px;
            position: relative;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                left: -100px;
                padding: 10px;
                position: absolute;
                text-align: right;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                -moz-background-clip: padding;
                -moz-border-radius: 20px;
                -moz-box-shadow: 0 0 0 5px #f5f5f6;
                -webkit-background-clip: padding-box;
                -webkit-border-radius: 20px;
                -webkit-box-shadow: 0 0 0 5px #f5f5f6;
                background: #fff;
                background-clip: padding-box;
                border-radius: 20px;
                box-shadow: 0 0 0 5px #f5f5f6;
                color: #737881;
                display: block;
                float: left;
                font-size: 15px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                width: 40px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #303641;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
                    background-color: #ee4749;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
                    background-color: #00a651;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
                    background-color: #21a9e1;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
                    background-color: #fad839;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                -moz-background-clip: padding;
                -moz-border-radius: 3px;
                -webkit-background-clip: padding-box;
                -webkit-border-radius: 3px;
                background: #f5f5f6;
                background-clip: padding-box;
                border-radius: 3px;
                margin-left: 60px;
                padding: 1em;
                position: relative;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    border-color: transparent #f5f5f6 transparent transparent;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    content: '';
                    display: block;
                    height: 0;
                    left: 0;
                    margin-left: -9px;
                    position: absolute;
                    top: 10px;
                    width: 0;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #737881;
                    font-family: "Noto Sans", sans-serif;
                    font-size: 12px;
                    line-height: 1.428571429;
                    margin: 0;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
                        -moz-opacity: .6;
                        -ms-filter: alpha(opacity=60);
                        -webkit-opacity: .6;
                        filter: alpha(opacity=60);
                        opacity: .6;
                    }

/* charts*/

/* treemap */

.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

/* footer */

footer {
    background-color: #EEEEEE;
    clear: both;
    height: 88px;
    margin-top: -88px; /*negative value of footer height */
    padding-top: 20px;
    position: relative;
}


/* jquery validation messagess*/

.field-validation-error {
    font-size: 14px;
    line-height: 178%;
    margin-bottom: 12px;
    margin-top: 18px;
    white-space: normal;
}

/** form control */

.form-horizontal .control-label {
    margin-bottom: 10px;
}