@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <h2>@ViewBag.Title.</h2>
        <div>
            <p class="text-info">
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>