@model Notus.Portal.Models.ChartControlViewModel
@{
    ViewBag.Title = "title";
}

<div ng-app="VisualizeApp">
    <div class="col-md-12">
        <div class="row" ng-controller="VisualizeHomeController as home">
            <div class="col-md-3">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CauseOf, new { @class = "control-label" })
                           
                            <ui-select ng-model="cause.selected" title="Choose a cause">
                                <ui-select-match placeholder="Select a cause">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices group-by="someGroupFn" repeat="cause.Name as cause in causes | propsFilter: {Name: $select.search}">
                                    <div ng-bind-html="cause.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Metric, new { @class = "control-label" })
                            <ui-select ng-model="metric.selected" title="Choose a metric">
                                <ui-select-match placeholder="Select a metric">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="metric.Name as metric in metics | propsFilter: {Name: $select.search}">
                                    <div ng-bind-html="metric.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <div ui-slider="slider.options" ng-model="GraphControls.slider"></div>
                            <label ng-bind="GraphControls.slider"></label>
                        </div>
                        <div class="form-group">
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-9">
                <div ui-view="graph"></div>
            </div>
        </div>
    </div>
</div>