@{
    ViewBag.Title = "About";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>What is Notus?</h3>
            <section>
                <p>
                    Notus simply is a Health and Fitness tracking system mainly focused on non-communicable diseases.
                </p>
                <p>
                    Notus is will collect your health data from various data sources. It can generates a health profile and tracks your health every day to help you to keep you healthy and avoid Non-Communicable diseases.
                </p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>What is a non-communicable disease?</h3>
            <section>
                <p>
                    Non-communicable diseases (NDCs) are one of the major health and development challenges of 21st century, in terms of both the human suffering they cause and the harm they inflict on the socioeconomic of fabric countries, particularly low and middle income countries.
                </p>
                <p>
                    Non-communicable disease, or NCD, is a medical condition or disease that can be defined as non-infectious and non-transmissible among people. NCDs can to chronic diseases which last for long period of time and progress slowly.
                </p>
                <p>
                    Non-communicable diseases (NCDs) kill 38 million people each year. Almost three quarters of NCD deaths occur in low- and middle-income countries. Sixteen million NCD deaths occur before the age of 70; 82% of these "premature" deaths occurred in low- and middle-income countries.
                </p>
                <p>
                    According to the World Health Organization, cardiovascular diseases account for most NCD deaths, or 17.5 million people annually, followed by cancers (8.2 million), respiratory diseases (4 million), and diabetes (1.5 million). These 4 groups of diseases account for 82% of all NCD deaths. Tobacco use, physical inactivity, the harmful use of alcohol and unhealthy diets all increase the risk of dying from an NCD.
                </p>
            </section>
        </div>
    </div>
</div>